header {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;

}

title {
    background-color: #F7FAFA;
    @include flexCenter;
    &__small {
        font-size: 20px;
        color: $secondary-color;

    }
}