@use "./variable" as *;
@use "./mixins" as *;

@media only screen and (max-width: 600px) {
.aboutme {
    text-align: center;
    &__image{
        width: 395px;
        height: 400px;
    }

    &__title {
        font-size: 48px;
    }

    &__para {
        color:$secondary-color;
    }
}
}