@use "./variable" as *;
@use "./mixins" as *;

.aboutme {
    &__image{
        width: 395px;
        height: 400px;
    }

    &__title {
        font-size: 48px;
    }

    &__para {
        color:$secondary-color;
    }
}