@use "./variable" as *;
@use "./mixins" as *;

//  update the color of the icon in the footer 
//  add a class for the icon for the footer
footer {
    background-color:$primary-color;
}

p {
    text-align: bottom;
    display: flex;
    justify-content: center;
}

i {
    @include rectangleCircle;
    color: $primary-color;
}