@use "./variable" as *;
@use "./mixins" as *;


.header {
    display: flex;
    align-items:center;
    justify-content:space-between;
    font-family: $primary-font;
    gap: 20px;

    &__name {
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
    }
}

.title {
    font-family: $primary-font;
    background-color: #F7FAFA;
    @include flexCenter;
    flex-direction: column;
    margin: 20%;

    &__small {
        font-size: 20px;
        font-weight: 500;
        color: $secondary-color;
        font-family:$primary-font;
    }

    &__big {
        font-size:64px;
        color: $primary-color;
        font-family:$primary-font;
        font-weight: 600;
    }

    &__button {
        color: $primary-color;
        background-color: #BAE8E8;
        font-size: 24px;
        border: 2px solid #272643;
        border-radius: 7px;
        gap: 10px;
        width: 321px;
        height: 78px;

    }

    &__arrowsymbol {
        color:#272643;
        border: 2px;
        font-size: 24px;


    }
    
}