@use "./variable" as *;
@use "./mixins" as *;

// need to add a box images in the my projects on the html
// need change the layout for my project.

.my-projects {
    font-family:$primary-font;
    font-size: 20px;
    display:flex;
    justify-content: left;



    &__header {
    font-weight: bold;
    font-size: 40px;
    }

    &__title {
        color:$color-blue;
    }

    &__para {
        color: $secondary-color;
    }
}

i {
    color:$primary-color;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: $color-blue;
 }