@use "./variable" as *;
@use "./mixins" as *;

.my-projects {
    @include flexCenter;
    font-size:60px;
    font-family:$primary-font;

    &__header {
    font-size: 32px;
    font-weight: bold;
    }

    &__title {
        color:$color-blue;
         &__--clientpro {
            font-size: 30px;
         }
    }

    &__para {
        color: $secondary-color;
        font-size: 30px;
    }
}

i {
    color:$primary-color;
}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: $color-blue;
 }