@use "./variable" as *;
@use "./mixins" as *;

// need change the layout for my project.

i {
    color: $secondary-color;
}

.my-projects {
    font-family:$primary-font;
    font-size:20px;
    display:flex;
    justify-content:flex-start;
    align-content: flex-start;
    position: absolute;

    &__header {
    font-weight: bold;
    font-size: 40px;
    }

    &__prog {
        color:$color-blue;
    }

    &__para {
        color: $secondary-color;
    }

    &__title {
        color:$primary-color;
    }
    
    &__preview {
        color: $secondary-color;
    }
     

}

mark {
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: $color-blue;
 }