@use "./variable" as *;
@use "./mixins" as *;
    
    
    body {
        background-color: white;
    }

    .technical-skills {
        display:grid;

    &__bem {
        grid-area: bem;
        &__-image {
             width:66px;
             height:67px;

         }
    }
    }