@use "./variable" as *;
@use "./mixins" as *;
    
// make changes to the grid position
// research how to put icon and texc below it 

    
    body {
        background-color: white;
        font-family: $primary-font;
    }

    mark {
       display: inline-block;
       line-height: 0em;
       padding-bottom: 0.5em;
       background-color: $color-blue;
    }

    img {   
            width:66px;
            height:67px;
    }

    p {
             display: inline-block;
             text-align: center;
             color:$secondary-color;
    }

    i {
        color:$color-blue;
        width:60px;
        height:60px;
        display: inline-block;  
        text-align: center;
    }

    .technical-skills {
        color: $secondary-color;
        font-size: 40px;
        position:relative;
        margin-top: 5rem;
        

        &__title {
            font-weight: bold;
            color:$primary-color;
            font-weight: 600;
            @include flexCenter;


        }

        &__grid {
            text-align: center;
            display: grid;
            grid-template-columns: 1fr,1fr,1fr;
            grid-template-rows: 1fr,1fr,1fr;
            grid-template-areas: 
            "git html css"
            "javascript scss bem"
            "react java springboot";
        }

        &__github {
            grid-area: git;
        }

    &__bem {
        grid-area: bem;

    }

    &__html {
        grid-area: html;
    }

    &__css {
        grid-area: css;
    }

    &__javascript {
        grid-area: javascript;
    }

    &__bem {
        grid-area: bem;
    }

    &__react {
        grid-area: react;
    }

    &__java {
        grid-area: java;
    }

    &__springboot {
        grid-area: springboot;
    }
    
    }



  
