@use "./variable" as *;
@use "./mixins" as *;
    
    
    body {
        background-color: white;
    }

    .technical-skills {
        display:grid;
        font-family: $primary-font;
        color:$secondary-color;
        @include flexCentre;

        &__title {
            font-family: $primary-font;
            font-weight: bold;
        }

        &__github {
            font-family: $primary-font;
            font-weight: bold;
            grid-area: git;
        }

    &__bem {
        grid-area: bem;

        &__-image {
             width:66px;
             height:67px;

         }
    }


    }