.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  gap: 20px;
  padding: 5px;
}
.header__name {
  margin-right: 400px;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F7FAFA;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20%;
}
.title__small {
  font-size: 20px;
  font-weight: 500;
  color: #8C9CB1;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 400px;
}
.title__big {
  font-size: 64px;
  color: #272643;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  padding: 5px;
}
.title__button {
  color: #272643;
  background-color: #BAE8E8;
  font-size: 24px;
  border: 2px solid #272643;
  border-radius: 7px;
  gap: 10px;
  width: 321px;
  height: 78px;
  font-weight: bold;
}
.title__arrowsymbol {
  color: #272643;
  border: 2px;
  font-size: 24px;
}

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #BAE8E8;
}

img {
  width: 70px;
  height: 70px;
}

i {
  color: #BAE8E8;
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
}

.technical-skills {
  color: #8C9CB1;
  font-size: 40px;
  margin-top: 5rem;
}
.technical-skills__para {
  text-align: center;
  color: black;
}
.technical-skills__title {
  font-weight: bold;
  color: #272643;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.technical-skills__grid {
  text-align: center;
  position: relative;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr;
  grid-template-areas: "git html css" "javascript scss bem" "react java springboot";
}
.technical-skills__github {
  grid-area: git;
}
.technical-skills__bem {
  grid-area: bem;
}
.technical-skills__html {
  grid-area: html;
}
.technical-skills__css {
  grid-area: css;
}
.technical-skills__javascript {
  grid-area: javascript;
}
.technical-skills__bem {
  grid-area: bem;
}
.technical-skills__react {
  grid-area: react;
}
.technical-skills__java {
  grid-area: java;
}
.technical-skills__springboot {
  grid-area: springboot;
}

mark {
  display: inline-block;
  line-height: 0em;
  padding-bottom: 0.5em;
  background-color: #BAE8E8;
}

.my-projects {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.my-projects__logocode {
  color: #272643;
}
.my-projects__logoeye {
  color: #272643;
}
.my-projects__header {
  font-weight: bold;
  font-size: 50px;
}
.my-projects__prog {
  color: #BAE8E8;
}
.my-projects__para {
  color: #8C9CB1;
}
.my-projects__title {
  color: #272643;
}
.my-projects__preview {
  color: #272643;
}
.my-projects__image {
  width: 395px;
  height: 400px;
}

.footer {
  background-color: #272643;
  width: 100%;
  height: 216px;
  color: white;
}
.footer__list {
  display: inline-block;
  background-color: #BAE8E8;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  color: #272643;
}

.aboutme {
  text-align: center;
}
.aboutme__image {
  width: 395px;
  height: 400px;
}
.aboutme__title {
  font-size: 48px;
}
.aboutme__para {
  color: #8C9CB1;
}/*# sourceMappingURL=styles.css.map */